{% extends 'base.html' %}

{% block content %}
  <h1>Cart</h1>
  <form method="post">
    {% csrf_token %}


    {% if order_item_forms %}
    {{ order_form.as_p }}
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for form in order_item_forms %}
            <tr>
              <td>{{ form.product }}</td>
              <td>{{ form.quantity }}</td>
              <td>
                     <button type="submit" name="delete" value="{{ form.product.value }}">Delete</button>

              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="submit">Make Order</button>
    {% else %}
      <p>Your cart is empty.</p>
    {% endif %}
  </form>
{% endblock %}
